---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

const downloads = await getCollection('downloads');
---

<BaseLayout>
  <h1 class="mb-6 text-3xl font-semibold">Downloads</h1>

  <ul class="space-y-4">
    {downloads.map((item) => (
      <li>
        <a href={item.data.file} class="underline text-[var(--color-primary)]">
          {item.data.title}
        </a>

        <p class="text-sm text-[var(--color-muted)]">{item.data.description}</p>
      </li>
    ))}
  </ul>
</BaseLayout>
